body {
      padding: 10px;
    margin: 10px;
}

table #MainContent_chistacos {
    
        padding: 10px;
    margin: 10px;
}

#MainContent_TextBox1 {
      padding: 10px;
    margin: 10px;

}

#MainContent_listaCategorias {
       padding: 10px;
    margin: 10px;

}

.btn .btn-hover {
    padding-right: 100px;
    margin-right: 100px;
}

/*************table************/


#MainContent_chistacos {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}

 #MainContent_chistacos table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

 #MainContent_chistacos tr:last-child td:last-child {
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
}
 #MainContent_chistacos table tr:first-child td:first-child {
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	border-top-left-radius:4px;
}
 #MainContent_chistacos table tr:first-child td:last-child {
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

 #MainContent_chistacos tr:last-child td:first-child{
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
}
 #MainContent_chistacos tr:hover td{
	
}
 #MainContent_chistacos tr:nth-child(odd){ background-color:#ffd4aa; }

 #MainContent_chistacos tr:nth-child(even)    { background-color:#ffffff; }
 
#MainContent_chistacos td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
                                                                                
 #MainContent_chistacos tr:last-child td{
	border-width:0px 1px 0px 0px;
}
 #MainContent_chistacos tr td:last-child{
	border-width:0px 0px 1px 0px;
}
 #MainContent_chistacos tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
 #MainContent_chistacos tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
 #MainContent_chistacos tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
}
 #MainContent_chistacos tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
 #MainContent_chistacos tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}